@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-headings;
    line-height: 1.1;
  }
}

@font-face {
  font-family: 'Surf Up';
  src: url('/fonts/surf-up.otf');
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}

:root {
  --real100vh: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.border-radius-fix {
  transform: translateZ(0);
}

.embed-video-wrapper video,
.video-player video {
  object-fit: cover;
}

.card-gradient:before {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 10%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.mobile-menu {
  height: calc(var(--real100vh) - 40px);
}

@media (min-width: 768px) {
  .mobile-menu {
    height: calc(var(--real100vh) - 56px);
  }
}

.mailChimp-hiddenTb {
  position: absolute;
  left: -5000px;
}
