@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-headings;
    line-height: 1.1;
  }
}

@font-face {
  font-family: 'Surf Up';
  src: url('/fonts/surf-up.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
