@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-headings;
    line-height: 1.1;
  }
}

@font-face {
  font-family: 'Surf Up';
  src: url('/fonts/surf-up.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --real100vh: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.embed-video-wrapper video {
  object-fit: cover;
}

.text-fill-transparent {
  text-fill-color: transparent;
}

.mobile-menu {
  height: calc(var(--real100vh) - 40px);
}
@media (min-width: 768px) {
  .mobile-menu {
    height: calc(var(--real100vh) - 56px);
  }
}
